.section-head {
  @apply bg-none lg:bg-[url(../assets/bg-pattern-home-1.svg)] lg:bg-no-repeat;
  background-position: left -100px top 56px;

  .container-fluid {
    @apply bg-[url(../assets//bg-pattern-home-2.svg)] bg-no-repeat;
    background-position: left 50% bottom;

    @screen lg {
      background-position: 100% 100%;
    }
  }
}
